 /* Styles for mobile and tablets */
 @media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
      display: none !important;
  }
  .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
      width: 20%;
  }
}

@media only screen and (max-width: 700px) {
  .input-name, .input-phone, .input-email, .input-subject {
      width: 44vw;
      height: 50px;
      border-right: none;
      border-top: none;
      border-left: none;
      border-bottom: 1px solid #ffffff;
      background-color: transparent;
      color: white;
  }

  .input-btn {
      width: 91vw;
      height: 50px;
  }

  .my-name {
      width: 75%;
      height: auto;
  }
}

@media screen and (max-width: 695px) {
  .nav-toggle {
      display: block;
  }

  nav {
      display: none;
  }

  .links {
      display: none;
  }
}

@media screen and (max-width: 666px) {
  .skills-block {
      position: relative;
      width: 112px;
      height: 30px;
      background-color: transparent;
      margin-bottom: 28px;
  }

  .skills-text {
      font-family: 'Open sans';
      font-size: 12px;
      color: white;
      font-weight: 200;
  }

  .my-skills {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 64vh;
      flex-direction: row;
  }
}

/**/
@media only screen and (max-width: 600px) {
  .welcome-to-portfolio {
    font-family: 'Open sans'; 
    font-weight: 600; 
    font-size: 30px; 
    text-transform: uppercase; 
    color: #fff;
  }

  .portfolio-desc {
    font-family: 'Open sans';
    font-weight: 100; 
    font-size: 15px; 
    color: #fff;
  }

  .resume-btn {
    font-family: 'Open sans';
    font-size: 20px;
    font-weight: 500;
    color: #000;
    border: none;
    background-color: #f1f4fd;
    width: 91vw;
    height: 50px;
    cursor: pointer;
}
}

@media only screen and (max-width: 450px) {
  .welcome-to-portfolio {
    font-family: 'Open sans'; 
    font-weight: 600; 
    font-size: 20px; 
    text-transform: uppercase; 
    color: #fff;
  }

  .portfolio-desc {
    font-family: 'Open sans';
    font-weight: 100; 
    font-size: 10px; 
    color: #fff;
  }
}

@media only screen and (max-width: 424px) { 
  .thank-you-text {
      text-transform: uppercase;
      animation: blinker 1.5s linear infinite;
      position: relative;
      display: none;
      color: #fff;
      font-size: 14px;
      letter-spacing: 4px;
      font-family: 'Open sans';
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
     z-index: 20;
  }
}

@media screen and (max-width:418px) {
  /* .resume-btn {
      font-family: 'Open sans';
      font-size: 20px;
      color: white;
      border: 1px solid white;
      background-color: #ffffff17;
      width: 300px;
      height: 50px;
      cursor: pointer;
  }  */
}

@media screen and (max-width: 400px) {
  /* .presentation-block {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 53vh;
      flex-direction: column;
  } */

  .skills-block {
      position: relative;
      width: 100px;
      height: 30px;
      background-color: transparent;
      margin-bottom: 28px;
  }

  .skills-text {
      font-family: 'Open sans';
      font-size: 10px;
      color: white;
      font-weight: 200;
  }
}

@media screen and (max-width: 323px) {
  .thank-you-text {
      text-transform: uppercase;
      animation: blinker 1.5s linear infinite;
      position: relative;
      display: none;
      color: #fff;
      font-size: 12px;
      letter-spacing: 4px;
      font-family: 'Open sans';
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
      z-index: 20;
  }
}