* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background-color:black;
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#img-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
  left: 0;
  top: 0;
  z-index: 3;  
  transition: all cubic-bezier(0.19,1,0.22,1)1s;  
}

#img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0; 
}

.control {
  width: 100%;
  height: 141vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.track {
  width: 88px;
  height: 300px;
  position:relative;
  z-index: 1;
}
  
.dragme, .dragme-child {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  width: 87px;
  height: 87px;
  border-radius: 50%;
}


.dragme-child{
  display: none;
  border:4px dotted #33ccff;
  animation: mycircle 10s linear infinite;
}
  
/* .circle-p{
  position: absolute;
  right: 0;
  width: 86px;
  height: 86px;
 }

.circle {
  position: absolute;
  top:40%;
  left: 40%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color:#d200e6;
} */
.circle {
  position: absolute;
  top:40%;
  left: 39%;
  width:20px;
  height:20px;
  background:linear-gradient(#33ccff,#ff0066);
  border-radius:50%;
  animation: animate 0.9s linear infinite;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle:after {
  content:'';
  position:absolute;
  top:35px;
  right:35px;
  bottom:35px;
  left:35px;
  border-radius:50%;
  background-color:black;
}

.circle span {
  position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(#33ccff,#ff0066);
  border-radius:50%;
  
}

.circle span:nth-child(1) {
  filter: blur(5px);
}

.circle span:nth-child(2) {
  filter: blur(10px);
}

.circle span:nth-child(3) {
  filter: blur(20px);
}

.circle span:nth-child(4) {
  filter: blur(55px);
}
.circle-p-copy{
  position: absolute;
  bottom: 0;
  width: 86px;
  height: 86px;
 }

.circle-copy {
  position: absolute;
  top:40%;
  left: 42%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color:#d200e6;
}

.btn-continue {
  position: absolute;
  color: white;
  top: 50%;
  left: 47%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Open sans';
}


/*         Arrow    */
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
  
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
}
}


@keyframes mycircle {
  0% {
      rotate: -360deg;
  }
  100%{
      rotate: 0deg;
  }
}



.btn {
  position: relative;
  display: none;
  background-color: transparent;
  border: none;
  padding: 25px 30px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-family: 'Megrim', cursive;
  text-shadow: 
  0 0 5px #ffffff,
  0 0 10px #ffffff,
  0 0 20px #ffffff,
  0 0 40px #ffffff,
  0 0 80px #ffffff;
  top: -20%;
  z-index:20;
  cursor: pointer;
  /* background: #33ccff;
  color: #050801;
  box-shadow: 0 0 5px #33ccff, 0 0 25px #33ccff, 0 0 50px #33ccff,
    0 0 200px #33ccff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}
.btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.dragme-text {
  color: white;
  position: absolute;
  top: 50%;
  transform: rotate(-270deg);
  letter-spacing: 4px;
  left: 9%;
  font-family: 'Open sans';
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}


/*          PACE                */
h1 {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #101010;
}

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background:#1b1b1b;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
  box-shadow: 
  0 0 5px #00a3d0,
  0 0 10px #00a3d0,
  0 0 20px #00a3d0,
  0 0 40px #00a3d0,
  0 0 80px #00a3d0;
  
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  height:100vh;
  background:#000;
  overflow:hidden;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 99;
}

.p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}


@media only screen and (max-width: 540px) and (min-width: 390px)  {
  .control {
    width: 100%;
    height: 139vh;
    position: absolute;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
}

@media only screen and (max-width: 375px) {
  .control {
    width: 100%;
    height: 130vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
}